#sakai3mobile #notification_container {
    background-image: none !important;
    background-color: #B2EAFF;
    bottom:10px;
    font-family:"Helvetica Neue",Helvetica;
    margin-left:10px;
    margin-right:10px;
    padding:5px 0 5px 10px;
    position: absolute;
    width:90%;
}

#jqt .chat_list li .chat_list_text {
    padding-left:9px;
}

#jqt .chat_list li img {
    padding-top:3px;
}

#jqt .chat_list li.arrow a {
    padding-left:35px;
}

#jqt ul li small.counter {
    margin-right:28px !important;
}

#jqt ul li textarea {
    height:180px;
}

#jqt ul.signin li {
    width:100% !important;
}

#sakai3mobile #jqt .disabledButton.active, #sakai3mobile #jqt .disabledButton:active {
    /*-webkit-border-image:url(../themes/apple/img/whiteButton.png) 0 12 0 12;*/
}

#sakai3mobile #chatbox_image {
    float:right;
}

#sakai3mobile #message_image {
    float:right;
    margin-right:0px;
    margin-top:-3px;
}

#sakai3mobile #profile_image {
    float:right;
    margin-right:15px;
    margin-top:8px;
}

#sakai3mobile #sakai3_logo {
    margin:20px auto 0;
    width:136px;
}

#sakai3mobile .chat_list img {
    float:left;
}

#sakai3mobile .crop {
    display:block !important;
    overflow:hidden !important;
    white-space:nowrap !important;
}

#sakai3mobile .disabledButton {
    /*opacity:0.5;*/
}

#sakai3mobile .profile_list li, #sakai3mobile #sakai3_chatroom_log {
    font-size:0.8em;
}

#sakai3mobile .sakai3_button {
    margin:0 10px;
}

/* 2010-05-12 - Maxime Debosschere
   This is a hack which prevents the Android browser from crashing from the moment input fields are loaded.
   Overwritten CSS: themes/apple/theme.css, rule 311 (jqTouch r135, 2010-03-14)
   More information about this can be found at http://code.google.com/p/jqtouch/issues/detail?id=256 */
#jqt ul li input[type="text"],
#jqt ul li input[type="password"],
#jqt ul li input[type="tel"],
#jqt ul li input[type="number"],
#jqt ul li input[type="search"],
#jqt ul li input[type="email"],
#jqt ul li input[type="url"],
#jqt ul li textarea,
#jqt ul li select {
    background:#fff url('data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==') !important;
}

/* 2010-05-18 - Maxime Debosschere
   Fix for the rounded corners that still appeared in the Apple theme.
   Taken from http://code.google.com/p/jqtouch/issues/detail?id=127 */
#jqt ul.edgetoedge, #jqt ul.edgetoedge a.active {
    -webkit-border-radius:0 !important;
}